@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@300;700&family=Montserrat:wght@100;200;300;400;500;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(152, 229, 229);
  font-family: 'Chicle', cursive;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

button {
  cursor: pointer;
  background-color: rgb(234, 153, 144);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.catGifContainer {
  display: flex;
  gap: 20px; 
  align-items: center;
  justify-content: center;

}

.catGifContainer > img {
  width: 300px; 
  padding: 10px;
  border-radius:20px;
  margin: 30px;
}

.factText {
  font-size: 20px;
  font-weight: 600;
}

